Source: share-util
Section: libs
Maintainer: Neo Natura <support@neo-natura.com>
Priority: standard
Homepage: http://www.sharelib.net/

Package: share-util
Architecture: amd64
Description: The share library suite.
